body {
    font-family: Arial;
    background: #f0f4ff;
    padding: 20px;
}

h2, h3 {
    color: #2a5dcc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #aaa;
    padding: 10px;
    text-align: left;
}
